body {
    padding: 0;
    margin: 0;
    background-color: #E1E8F0;
}

.header {
    display: grid;
    justify-content: center;
    background-color: #000000;
    padding: 10px 5px;
}

.header button {
    background-color: #E1E8F0;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.library {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 20px;
}

.book {
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px -2px;
}

.actions {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.book img {
    width: max(20px, 8%);
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

dialog {
    background-color: #E1E8F0;
    width: 40%;
}

.fields {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

section {
    display: flex;
    flex-direction: column;
}

fieldset {
    background-color: #FFFFFF;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.buttons button:first-child {
    margin-right: 20px;
}

.buttons button {
    background-color: #FFFFFF;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 10px;
}