body {
    padding: 0;
    margin: 0;
    background-color: #E1E8F0;
}

.header {
    display: grid;
    justify-content: center;
    background-color: #000000;
    padding: 10px 5px;
}

.header button {
    background-color: #E1E8F0;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.library {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 20px;
}

.book {
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px -2px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

dialog {
    width: 40%;
}

form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

section input {
    width: 100%;
}